In [1]:
from datetime import date

import pandas as pd
import yaml

In [2]:
from sqlalchemy import create_engine

with open('./config.yml', 'r') as f:
        config = yaml.safe_load(f)
        config_ryf = config['RAPIDO_Y_FURIOSO']
        config_etl = config['ETL']

url_ryf = (f"{config_ryf['drivername']}://{config_ryf['user']}:{config_ryf['password']}@{config_ryf['host']}:"
        f"{config_ryf['port']}/{config_ryf['dbname']}")
url_etl = (f"{config_etl['drivername']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
        f"{config_etl['port']}/{config_etl['dbname']}")

ryf = create_engine(url_ryf)
etl_conn = create_engine(url_etl)

In [3]:
dim_sede = pd.read_sql_table('sede', url_ryf)
dim_sede.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sede_id          52 non-null     int64
 1   nombre           52 non-null     object
 2   direccion        52 non-null     object
 3   telefono         52 non-null     object
 4   nombre_contacto  52 non-null     object
 5   ciudad_id        52 non-null     int64
 6   cliente_id       52 non-null     int64
dtypes: int64(3), object(4)
memory usage: 3.0+ KB

In [5]:
dim_sede = dim_sede.drop(columns=['sede_id', 'cliente_id'])
dim_sede.head()

,nombre,direccion,telefono,nombre_contacto,ciudad_id
0,FARALLONES /123,Los angeles distrito Latino,310-70000,JUAN PEREZ,1
1,REMEDIOZ/ 123,Los angeles distrito Latino,310-70000,JUAN PEREZ,1
2,DIME / LOS ROJOS,Los angeles distrito Latino,310-70000,JUAN PEREZ,1
3,DESPACHOS / LOS ROJOS,Los angeles distrito Latino,310-70000,JUAN PEREZ,1
4,POPAYAN BODEGA 28 / A,Los angeles distrito Latino,310-70000,JUAN PEREZ,3

In [23]:
dim_sede.to_sql('dim_sede', etl_conn, if_exists='replace',index_label='key_dim_sede')

52

In [6]:
servicio = pd.read_sql_table('mensajeria_servicio', url_ryf)

In [7]:
servicio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28430 entries, 0 to 28429
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              28430 non-null  int64
 1   descripcion                     28430 non-null  object
 2   nombre_solicitante              28430 non-null  object
 3   fecha_solicitud                 28430 non-null  datetime64[ns]
 4   hora_solicitud                  28430 non-null  object
 5   fecha_deseada                   28424 non-null  datetime64[ns]
 6   hora_deseada                    28430 non-null  object
 7   nombre_recibe                   28430 non-null  object
 8   telefono_recibe                 28430 non-null  object
 9   descripcion_pago                28170 non-null  object
 10  ida_y_regreso                   28430 non-null  bool
 11  activo                          28430 non-null  bool
 12  novedades                       28094 non-null  object
 13  cliente_id                      28430 non-null  int64
 14  destino_id                      28430 non-null  int64
 15  mensajero_id                    27703 non-null  float64
 16  origen_id                       28430 non-null  int64
 17  tipo_pago_id                    28430 non-null  int64
 18  tipo_servicio_id                28430 non-null  int64
 19  tipo_vehiculo_id                28430 non-null  int64
 20  usuario_id                      28430 non-null  int64
 21  prioridad                       28430 non-null  object
 22  ciudad_destino_id               28430 non-null  int64
 23  ciudad_origen_id                28430 non-null  int64
 24  hora_visto_por_mensajero        2 non-null      object
 25  visto_por_mensajero             28094 non-null  object
 26  descripcion_multiples_origenes  27670 non-null  object
 27  mensajero2_id                   2233 non-null   float64
 28  mensajero3_id                   285 non-null    float64
 29  multiples_origenes              28430 non-null  bool
 30  asignar_mensajero               28430 non-null  bool
 31  es_prueba                       28430 non-null  bool
 32  descripcion_cancelado           28084 non-null  object
dtypes: bool(5), datetime64[ns](2), float64(3), int64(10), object(13)
memory usage: 6.2+ MB